# Python virtual env
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Video files
*.mp4
*.avi
*.mov

# Trained models
*.h5
*.keras
*.ckpt
*.pth
*.pt

# Archives
*.zip
*.rar
*.7z

# Frontend deps & build output
node_modules/
dist/
build/
.env

# Dataset / generated data
dataset/
models/
data/
# OS junk
.DS_Store
