# Python virtual env
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Video files
*.mp4
*.avi
*.mov

# Trained models
*.h5
*.keras
*.ckpt

# Archives
*.zip
*.rar
*.7z

# Frontend deps
node_modules/

# Dataset / generated data
dataset/
models/

# OS junk
.DS_Store
Thumbs.db